---
import Layout from "../../../layouts/Layout.astro";
import Container from "../../../components/Container.vue";
import InputsForm from "./InputsForm.vue";
---

<Layout title="Online ECC Calculator With Intermediate Values">
  <main class="sm:px-44 p-2 w-full">
    <h1 class="text-7xl font-bold pb-2 text-center">/ECC</h1>
    <Container class="flex flex-wrap gap-8">
        <InputsForm client:load/>
    </Container>
  </main>
</Layout>

<script>
  import init from "@utils/cryptography/aes/pkg/aes";
  init();
</script>
