---
import Layout from "../../../layouts/Layout.astro";
import Container from "../../../components/Container.vue";
import InputsForm from "./InputsForm.vue";
import IntermediateValues from "./IntermediateValues.vue";
---

<Layout title="Online ECDSA Calculator With Intermediate Values">
  <main class="flex flex-col items-center">
    <h1 class="text-7xl font-bold pb-2 text-center">/ECDSA</h1>
    <Container class="flex gap-8 flex-wrap justify-center">
      <Container>
        <InputsForm client:load />
      </Container>
      <Container>
        <IntermediateValues client:load />
      </Container>
    </Container>
  </main>
</Layout>

<script>
  import init from "@utils/cryptography/ecdsa/pkg/ecdsa";
  init();
</script>
