---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.vue";
import SearchBar from "../components/SearchBar.astro";
import Lock from "@/components/icons/Lock.vue";
import BaseButton from "@/components/BaseButton.vue";
import BaseCTALink from "@/components/BaseCTALink.vue";
import BaseCard from "@/components/BaseCard.vue";
import BaseLink from "@/components/BaseLink.vue";
---

<Layout title="/UTILS" banner>
  <span slot="title"> Explore Computer Science Algorithms </span>
  <span slot="subtitle">
    Dive into interactive modules covering a wide range of algorithms. Learn,
    experiment, and visualize complex concepts with ease.
  </span>
  <section>
    <h2
      class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-8"
    >
      Algorithm Categories
    </h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <BaseCard
        title="Cryptography"
        subtitle="Explore encryption, decryption, and secure communication techniques."
      >
        <Lock slot="icon" class="w-8 h-8" />
        <BaseLink href="/cryptography" button arrow>Explore</BaseLink>
      </BaseCard>
    </div>
  </section>
</Layout>
