---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.vue";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="/UTILS">
  <main class="px-32">
    <Container>
      <h1 class="text-9xl inline-block align-middle">/UTILS</h1>
      <p class="text-3xl">│</p>
      <p class="text-3xl">│</p>
      <p class="text-3xl">│</p>
      <p class="text-3xl">│</p>
      <p class="text-3xl">│</p>
      <p class="text-3xl">│</p>
      <p class="text-3xl">├─/Cryoptography</p>
      <p class="text-3xl">
        │&nbsp;&nbsp;╰─<a href="/cryptography/aes">/AES</a>
      </p>
      <p class="text-3xl">
        │&nbsp;&nbsp;╰─<a href="/cryptography/ecdsa">/ECDSA</a>
      </p>
      <p class="text-3xl">│</p>
      <p class="text-3xl">│</p>
      <p class="text-3xl">├─/Algorithms</p>
      <p class="text-3xl">│</p>
      <p class="text-3xl">│</p>
      <p class="text-3xl">╰─/Theory</p>
    </Container>
  </main>
</Layout>
