---
import Container from "@/components/Container.vue";
import Layout from "@/layouts/Layout.astro";
import Lock from "@/components/icons/Lock.vue";
import BaseButtonLink from "@/components/BaseButtonLink.vue";
import BaseDivider from "@/components/BaseDivider.vue";
import BaseCard from "@/components/BaseCard.vue";
import PencilSquare from "@/components/icons/PencilSquare.vue";
import BaseLink from "@/components/BaseLink.vue";
---

<Layout title="Online ECDSA Calculator With Intermediate Values" banner>
  <Lock class="w-16 h-16 text-teal-600" slot="icon" />
  <span slot="title">Cryptography</span>
  <span slot="subtitle">
    Explore the fascinating world of cryptography, from classical ciphers to
    cutting-edge post-quantum techniques.
  </span>
  <section class="w-full py-12 md:py-24 lg:py-32">
    <div class="px-4 md:px-6">
      <h2
        class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center mb-8"
      >
        Algorithms
      </h2>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <BaseCard
          title="Block Ciphers"
          subtitle="Algorithms that encrypt data in fixed-size blocks"
        >
          <Lock slot="icon" class="h-8 w-8" />
          <ul>
            <li>
              <BaseLink
                href="cryptography/aes"
                class="text-lg text-teal-600"
                arrow>Advanced Encryption Standard (AES)</BaseLink
              >
              <BaseDivider />
            </li>
          </ul></BaseCard
        >
        <BaseCard
          title="Digital Signatures"
          subtitle="Techniques to verify the authenticity of digital messages"
        >
          <PencilSquare slot="icon" class="h-8 w-8" />
          <ul>
            <li>
              <BaseLink href="cryptography/ecdsa" class="text-lg" arrow
                >Elliptic Curve (ECDSA)</BaseLink
              >
              <BaseDivider />
            </li>
          </ul></BaseCard
        >
      </div>
    </div>
  </section>
</Layout>
