---
import BaseDivider from "@/components/BaseDivider.vue";
import BaseLink from "@/components/BaseLink.vue";
import GitHub from "@/components/icons/GitHub.vue";
import Linkedin from "@/components/icons/Linkedin.vue";

interface Props {
  title: string;
  banner?: boolean;
}

const { title, banner } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="bg-slate-900 font-mono text-white/90 h-full overflow-y-scroll"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-full flex flex-col">
    <header
      class="px-4 lg:px-6 h-14 flex items-center justify-between bg-slate-800 shadow-lg"
    >
      <BaseLink href="/" class="font-extrabold text-3xl" nav>/UTILS</BaseLink>
      <div class="flex gap-8">
        <BaseLink href="" class="text-lg font-bold" nav>About</BaseLink>
        <BaseLink href="/contact" class="text-lg font-bold" nav
          >Contact</BaseLink
        >
      </div>
    </header>
    <div class="flex-grow">
      <main>
        {
          banner && (
            <section class="bg-slate-800 flex flex-col items-center gap-2 py-12 md:py-24 lg:py-32 xl:py-48 border-b border-slate-600 shadow-lg px-4">
              <slot name="icon" class="w-16 h-16 text-teal-600" />
              <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none text-center">
                <slot name="title" />
              </h1>
              <p class="mx-auto max-w-[800px] text-white/65 mt-1 md:text-xl dark:text-gray-40 text-center">
                <slot name="subtitle" />
              </p>
            </section>
          )
        }
        <slot />
      </main>
    </div>
    <BaseDivider class="lg:mx-16 mx-8" />
    <footer class="px-4 lg:px-6 flex items-center justify-center py-3 gap-4">
      <p class="text-white/65 font-light text-sm">
        &copy; 2024 Myles Ku. All rights reserved.
      </p>
      <a href="https://github.com/km5762">
        <GitHub class="w-5 h-5" />
      </a>
      <a href="https://www.linkedin.com/in/myles-ku-a09383260/">
        <Linkedin class="w-6 h-6" />
      </a>
    </footer>
  </body>
</html>
